{% extends 'base.html' %}
{% load static %}


{% block content %}
  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Reset Password</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <!-- This is where the form will go -->
        <form method="post" novalidate >
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group  required">
            {{field.label_tag}}
            {{field}}
            {{field.errors}}
          </div>
          {% endfor %}
          <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Reset my password">
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
